@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,');
@import url("https://use.typekit.net/nvu8vwb.css");

body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

p {font-weight: 300;
    font-size:21px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}


.section {
    margin: 0;
    padding: 0;
}

.logo-background {
    height: 80vh;
    background: url('../images/Monkees_bw_Dark.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}

@media (min-width:320px) {
    
    .for-hire {
            background-attachment: scroll;
    }
    .ttable {
            background-attachment: scroll;
    }
    .logo-background {
            background-attachment: scroll;
    }
}
 
/*Header*/

.logo {
    width: 50%;
    top:50%;
}

@media (max-width:768px){
    .logo{
        width:70%;
    }
}

.navbar {
    background-color: rgb(5, 5, 5);
    color: white;
    padding-right: 30px;
    border-radius:0;
    margin-bottom: 0px;
    border:0;
    text-align: center;
}

.navbar-nav{
    float:none;
    opacity:.9;
   
}

#myNavbar ul li a {
    width:100%;
    height:100%;
    text-decoration:none;
    color: white;
    font-weight:400;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration:.3s;
    line-height:105%;
     -moz-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition:opacity color 0.3s ease-in-out;
}

#myNavbar ul li a:hover {
   color:#FFDA00;
}
 
.li{
    padding:20px;
    font-size: 24px;
    margin-bottom: 10px;
}

.ul {
    list-style-type: none;
    text-align: center;
    display: inline;
    padding: 30px;
}

/*History*/

.pictureframe {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 33%;
}

.title {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: sheepman, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 56px
}

.history {
    background-color: black;
    color: white;
    padding: 50px;
    opacity: .9;
    margin: 0;
    min-height: 700px;
}

.history h2 {
    margin-bottom: 20px;
    color:#FFDA00;
}

.history p{
    margin-left: 30px;
}

.ttable {
    background: url('../images/monkees_chairs.jpg') no-repeat center center fixed;
    background-size: cover;
}

section div div p {
    text-align: justify;
}


/*the band */
 
.the-band {
    padding: 0;
}

.member-wrap{
    padding: 30px;
}

.band-member {
    padding: 0px 30px 10px 30px;
}

.band-header .title{
    color:#ce1141;
}

img {
    margin-bottom: 30px;
}

.band-member-paragraph {
    color: black;
    text-align: justify;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 30px;
    font-size: 28px;
}

/*player Styles*/

.listen {
    background-color: #FFDA00;
    padding: 30px;
    font-size: 18px;
    font-weight: 300;
}

.listen p{
    margin-left: 28px;
}

.listen-wrap{
    padding: 15px;
}

#plList {
    padding: 0 20px;
}

.plyr {
    position: relative;
    height: auto;
    margin: auto;
}

.plyr__progress--played,
.plyr__volume--display {
    color: #ff7a00;
    background: #944f00;
}

video {
    max-width: 100%;
    vertical-align: middle;
}

.plyr audio, .plyr video {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: inherit;
    margin-bottom:100px;
}

.plyr__video-wrapper {
    margin-bottom: 100px;
}

/*For Hire*/

.for-hire {
    background: url('../images/ForHire.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment:scroll;
    color:white;
    min-height: 700px;
    text-align: left;
}

.for-hire .title{
    color: #ce1141;
}

.form-control{
    margin-bottom:20px;
    max-width:50%;
    margin: 0px auto  20px auto;
    font-size: 21px;
}

.form p {
    margin: 0px auto  20px auto;
}

@media (max-width:768px){
    .form-control{
        max-width:70%;
    }
}

.hire-text-wrap{
    padding:20px;
    text-align: center;
}
.hire-text-wrap p{
    margin: 0px auto  100px auto;
}

.form button{
    background-color: #FFDA00;
    color:black;
    border:none;
    height:50px;
    width:15%;
    font-size: 18px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 100px;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration:.2s;
     -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition:opacity color 0.2s ease-in-out;
}

.form button:hover{
    background-color: #ffb506;
}

/*footer*/

.social-links{
    margin:30px;
}

.social-links li a i {
    height: 40px;
    width: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    background-color: #CE1141;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-logo{
    width:150px;
}

.footer-wrap{
    margin:auto;
    text-align: center;
}

/*back to top button*/

#myBtn {
    display: block; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    outline: none; 
    border:none;
    background-color: #222; 
    color: white; 
    cursor: pointer; 
    padding: 20px; 
    font-size: 30px; 
    transition-property:opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
     -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition:opacity 0.5s ease-in-out;
    opacity:.7;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

